Code without visible output:

In [0]:
install.packages("devtools")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependencies ‘brew’, ‘commonmark’, ‘praise’, ‘roxygen2’, ‘testthat’

In [0]:
devtools::install_github("ropensci/gender")

Downloading GitHub repo ropensci/gender@master

dplyr    (0.8.2  -> 0.8.3  ) [CRAN]
openssl  (1.4    -> 1.4.1  ) [CRAN]
pillar   (1.4.1  -> 1.4.2  ) [CRAN]
vctrs    (0.1.0  -> 0.2.0  ) [CRAN]
ellipsis (0.2.0  -> 0.2.0.1) [CRAN]
digest   (0.6.19 -> 0.6.20 ) [CRAN]

Installing 6 packages: dplyr, openssl, pillar, vctrs, ellipsis, digest
Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

✔  checking for file ‘/tmp/RtmpgCQfQW/remotes7b550c414d/ropensci-gender-9c6a641/DESCRIPTION’
─  preparing ‘gender’:
✔  checking DESCRIPTION meta-information
─  checking for LF line-endings in source and make files and shell scripts
─  checking for empty or unneeded directories
─  looking to see if a ‘data/datalist’ file should be added
─  building ‘gender_0.5.2.tar.gz’

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
install.packages("genderdata", repos = "http://packages.ropensci.org")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
install.packages("gender")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
library(gender)

In [0]:
namesData <- read.csv(file="ethnicity_full.csv", header=TRUE, sep=",")

Warning message in file(file, "rt"):
“cannot open file 'ethnicity_full.csv': No such file or directory”

ERROR: ignored

In [0]:
colnames(namesData)

 [1] "Unnamed..0"
 [2] "LastName"
 [3] "FirstName"
 [4] "validSince"
 [5] "occupation"
 [6] "geometry"
 [7] "race"
 [8] "Asian.GreaterEastAsian.EastAsian"
 [9] "Asian.GreaterEastAsian.Japanese"
[10] "Asian.IndianSubContinent"
[11] "GreaterAfrican.Africans"
[12] "GreaterAfrican.Muslim"
[13] "GreaterEuropean.British"
[14] "GreaterEuropean.EastEuropean"
[15] "GreaterEuropean.Jewish"
[16] "GreaterEuropean.WestEuropean.French"
[17] "GreaterEuropean.WestEuropean.Germanic"
[18] "GreaterEuropean.WestEuropean.Hispanic"
[19] "GreaterEuropean.WestEuropean.Italian"
[20] "GreaterEuropean.WestEuropean.Nordic"

In [0]:
colnames(namesData)[3] <- "names"

In [0]:
namesDf <- data.frame(lapply(namesData, as.character), stringsAsFactors=FALSE)

In [0]:
head(namesDf)

  X LastName names  validSince X..data.occupation
1 0 nee      ae     1849
2 1 Pope     James  1849       mason
3 2 Pope     John   1849       grocer
4 3 Pope     Joseph 1849       soda water
5 4 Pope     John   1849       (col'd) porter
6 5 Pope     Joshua 1849       mer
  geometry
1
2 {"type":"Point","coordinates":[-74.002769887447,40.73324395257066]}
3
4 {"type":"Point","coordinates":[-73.99623423814732,40.715684403470995]}
5
6 {"type":"Point","coordinates":[-74.00563426315767,40.70499083357134]}
  race
1 Asian,GreaterEastAsian,EastAsian
2 GreaterEuropean,British
3 GreaterEuropean,British
4 GreaterEuropean,British
5 GreaterEuropean,British
6 GreaterEuropean,British

In [0]:
install.packages("magrittr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
library(magrittr)

In [0]:
name <- c(namesDf$names)
name<-as.character(name)

In [0]:
head(name)

[1] "Francis" "George"  "George"  "Henry"   "Henry"   "James"

In [0]:
length(name)

[1] 448626

In [0]:
sex_ipums<-gender(name,years = c(1830,1860),method="ipums")

In [0]:
tail(sex_ipums)

  name   proportion_male proportion_female gender year_min year_max
1 zt     1.0000          0.0000            male   1830     1860
2 zue    0.3403          0.6597            female 1830     1860
3 Zulema 0.0000          1.0000            female 1830     1860
4 Zulina 0.0000          1.0000            female 1830     1860
5 Zulman 1.0000          0.0000            male   1830     1860
6 Zuriah 0.0000          1.0000            female 1830     1860

In [0]:
write.csv(sex_ipums,file='ethnicity_full_gender.csv')

In [0]:
https://ropensci.org/tutorials/gender_tutorial/
Procedure:
1.Read in the values for 1850s decade
2. Etract the names
3. Clean the names to remove single/doube characters, special symbols etc
4. Extract first name
5. based on year of validity estimate date of birth to be around 1800-1825
6. Use ipums data in R package to calculate gender probability
7. Assign gender with high probabiity as the correct gender.
8. Perform analysis based on this result.